<div class="row">
  <div class="col-xs-12">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" #name>

      <label for="desc">Description:</label>
      <input type="text" id="desc" [(ngModel)]="description" #description>

      <label for="imgUrl">Image URL:</label>
      <input type="text" id="imgUrl" [(ngModel)]="imgUrl" #imgUrl>
    </div>
    <br>
    <button class="btn btn-success" (click)="createRecept(name.name,description.value,imgUrl.value)">Create New
      Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipe of recipes" [recipe2]="recipe" (recipeSelected)="onSelected(recipe)"
      (deleted)="onDelete(recipes)">
      <div>
        <p>this is declared in recipe-list component</p>
      </div>
    </app-recipe-item>
  </div>
</div>